<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Links -->

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Facebook meta tags -->
  <meta
    name="description"
    content="Blog Channel - Best place to find the newest things that happens in the world."
  />
  <meta property="og:url" content="/" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Blog Channel" />
  <meta property="og:title" content="Blog Channel - Enjoy your day" />
  <meta
    property="og:description"
    content="Blog Channel - Best place to find the newest things that happens in the world."
  />
  <meta property="og:image" content="/logo.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="620" />

  <!-- Twitter Meta Tags -->
  <meta property="twitter:site" content="Blog Channel" />
  <meta property="twitter:creator" content="Blog Channel" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="/" />
  <meta name="twitter:title" content="Blog Channel - Enjoy your day" />
  <meta
    name="twitter:description"
    content="Blog Channel - Best place to find the newest things that happens in the world."
  />
  <meta name="twitter:image" content="/logo.png" />
  <meta property="twitter:image:width" content="1200" />
  <meta property="twitter:image:height" content="1200" />

  <link rel="shortcut icon" href="/logo.png" type="image/x-icon" />
  <title>Blog Ninja | <%= title %></title>
</head>
