<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit volutpat odio
        augue, conubia eros est vehicula montes cursus porta bibendum mollis.
        Eleifend convallis conubia feugiat ornare id viverra mollis ullamcorper
        placerat, enim venenatis non cras magna suspendisse fames tellus
        pretium, dignissim lacus quam varius at ultricies etiam lacinia.
        Fermentum erat sapien luctus fusce interdum blandit vel id, leo metus
        tellus rhoncus consequat integer pellentesque ridiculus nulla, accumsan
        magnis tristique ligula mi lacinia habitant. Neque urna dictumst litora
        hac taciti nibh non sem per sapien faucibus congue at sodales montes
        felis, gravida sociis elementum ante penatibus a nullam leo inceptos
        nisi nam praesent hendrerit facilisis massa. Molestie velit enim
        inceptos in hendrerit orci rutrum rhoncus integer ridiculus quis nam
        viverra duis tristique tincidunt eleifend felis, id fames euismod aenean
        sociis lectus quisque per commodo ante ullamcorper conubia eget sodales
        gravida class. Tempus ac ligula mauris potenti aenean himenaeos inceptos
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
